.container-fluid{
    padding-left: 0;
    padding-right: 0;
}


#page1{
    background-image: url('/src/assets/backgrounds/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
}