<div id="page1" class="container">
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <h2 style="font-size:24px;" class="navbar-brand"> Yolomy </h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
    
        
      </div>
        <ul class="navbar-nav nav justify-content-end pull-left">
          <li class="nav-item active">
            <a class="nav-link" href="#"> Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fas fa-shopping-cart" ></i> </a>
          </li>
        </ul>
    </nav>
    <!-- ./navbar END -->

    <!-- . content for page one -->
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-10 page1-content">
          <h2 class="text-center">
            Our Clothing, Your Comfort
          </h2> <br>
         
          <h3 class="text-center">
            We understand that you need to look good and feel great. <br>
            It all starts with what you're wearing.
          </h3> 

      </div>

      <div class="col-md-1"></div>
    </div>
    <!-- ./ content for page one END -->

    <i style="font-size:50px;position:absolute;bottom:0; margin-bottom:10px; margin-left:37%;" class="fas fa-angle-down"></i>
  
</div>

<!-- page two -->
<div class="container">

  <!-- .first element of page two -->
  <div id="page2" class="row">
    <!-- selected buttons -->
    <div class="col-md-7">
      <form action="">

        <mat-checkbox> MEN </mat-checkbox> 
        <mat-checkbox> WOMEN </mat-checkbox> 
        <mat-checkbox> CHILDREN </mat-checkbox>

      </form>
    </div>
    <!-- ./ selected buttons -->
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg"> SEE ALL PRODUCTS </button>
     
    </div>

  </div>
  <!-- ./ fist element of page two END -->


  <!-- . category for mens' wear -->
  <div class="women-cat" >
    <h2 class="cat" > MEN </h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3 selected">
        <div class="card-body">
          <h5 class="card-title">Size <i class="fas fa-angle-down" ></i> </h5>
        </div>
        <img class="img-responsive" height="209px" width="166px" src="/assets/products/tshirt.png" alt="Card image">
        <div class="card-body">
            <a href="#" class="card-link"> T-SHIRT </a>
            <a href="#" class="card-link float-right"> 5,00 <i class="fas fa-euro-sign"></i> </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"> Size <i class="fas fa-angle-down"></i> </h5>
        </div>
        <img class="img-responsive" style="width:116px; height:232px;"src="./assets/products/pants.png" alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link"> T-SHIRT </a>
          <a href="#" class="card-link float-right"> 30,00 <i class="fas fa-euro-sign"></i> </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"> Size <i class="fas fa-angle-down"></i> </h5>
        </div>
        <img style="width:143px; height:211px;" src="/assets/products/backpack.png" alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link"> T-SHIRT </a>
          <a href="#" class="card-link float-right"> 60,00 <i class="fas fa-euro-sign"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <!-- ./category for mens' wear END -->



  <!-- . category for womens' wear -->
  <div class="women-cat">
    <h2 class="cat" > WOMEN </h2>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Size <i class="fas fa-angle-down"></i> </h5>
        </div>
        <img class="img-responsive" height="207px" width="226px" src="/assets/products/giacket.png" alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link"> T-SHIRT </a>
          <a href="#" class="card-link float-right"> 60,00 <i class="fas fa-euro-sign"></i> </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"> Size <i class="fas fa-angle-down"></i> </h5>
        </div>
        <img class="img-responsive" style="width:234px; height:195px;" src="/assets/products/trekkingshoes.png" alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link"> T-SHIRT </a>
          <a href="#" class="card-link float-right"> 80,00 <i class="fas fa-euro-sign"></i> </a>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"> Size <i class="fas fa-angle-down"></i> </h5>
        </div>
        <img style="width:175px; height:227px;" src="/assets/products/tshirt_ladies.png" alt="Card image">
        <div class="card-body">
          <a href="#" class="card-link"> T-SHIRT </a>
          <a href="#" class="card-link float-right"> 20,00 <i class="fas fa-euro-sign" ></i>  </a>
        </div>
      </div>
    </div>
  </div>
  <!-- ./category for womens' wear END -->


</div>
<!-- ./ page two END -->




<!-- .page three - ABOUT section -->
<div class="container">
  <div id="about-us" class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 text-center ">
      <h2> ABOUT US </h2>
      <blockquote class="blockquote text-center">
        <p class="mb-0">
          This is where high-fashion clothing is designed and craften from the heart by an amazing team
          of craftsmen and designers who understand what fashion is.
        </p>
      </blockquote>

    </div>

    <div class="col-md-3"></div>
  </div>

</div>
<!-- ./page three - ABOUT section -->

  <!-- .discount information -->
  <div class="container discount">
    <blockquote class="blockquote">
      <p style="padding-left:20px;" class="mb-0">
        <i style="color:#016dd9; font-size:18px;" class="fab fa-twitter"></i> " SALE: Buy anything for 40% off. Use the promo CODE YOLOMY45 when you buy items. "
      </p>
    </blockquote>
  </div>
  <!-- ./discount information END -->




<!-- .social section -->
<div class="container footer">
  <div class="row">
    <!-- .mantra -->
    <div style="padding-top: 2%;" class="col-md-4">
      <h2 class="text-center" > YOLOMY </h2>
      <p class="text-center" >
         WE ARE YOLOMY - WE UNDERSTAND 
        FASHION AND STYLE. WE CRAFT OUR <br> PRODUCTS WITH LOVE AND DILIGENCE
      </p>
    </div>
    <!-- ./mantra -->
  
    
    <!-- . social icons -->
    <div class="col-md-4">
      <h2 class="text-center"> We are social </h2> 

      <div class="row">
        <div class="col-md-3">
          <img src="/assets/social_icons/g_plus.png" alt="">
        </div>
        <div class="col-md-3">
            <img src="/assets/social_icons/facebook.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/you_tube.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/stumble_upon.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/skype.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/flickr.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/twitter.png" alt="">
        </div>
        <div class="col-md-3">
          <img src="/assets/social_icons/pinterest.png" alt="">
        </div>
      </div>
       
    </div>
    <!-- ./ social icons END -->

    <!-- .credits -->
    <div class="col-md-4 credits">
      CREDITS | PRIVACY | ABOUT |  CONTACT |  <br>

      <h3> Yolomy : We Mean Fashion </h3>
    </div>
    <!-- ./credits -->
  </div>
</div>
<!-- ./ social section END -->