<div id="page1" class="container">
    <!-- .navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"> Yolomy </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
    
        
      </div>
        <ul class="navbar-nav nav justify-content-end pull-left">
          <li class="nav-item active">
            <a class="nav-link" href="#"> Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fas fa-shopping-cart" ></i> </a>
          </li>
        </ul>
    </nav>
    <!-- ./navbar END -->

    <!-- . content for page one -->
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-10 page1-content">
          <h2 class="text-center">
            Our Clothing, Your Comfort
          </h2> <br>
         
          <h3 class="text-center">
            We understand that you need to look good and feel great. <br>
            It all starts with what you're wearing.
          </h3> 

          <i id="down" class="fas fa-angle-down text-center"></i>
      </div>

      <div class="col-md-1"></div>
    </div>
    <!-- ./ content for page one END -->
</div>

<!-- page two -->
<div id="page2" class="container">
  <div class="row">

    <!-- selected buttons -->
    <div class="col-md-8">
      <form action="">

        <mat-checkbox> MEN </mat-checkbox> 
        <mat-checkbox> WOMEN </mat-checkbox> 
        <mat-checkbox> CHILDREN </mat-checkbox>

      </form>
    </div>
    <!-- ./ selected buttons -->


    <div class="col-md-2">

      <button class="btn" >
        SEE ALL PRODUCTS
      </button>
    </div>

  </div>
</div>
<!-- ./ page two END -->